body, nav, main{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #d1d1d1;
}

.artista_foto{
    width: 125px;
    border-radius: 85px;
    margin-top: 30px;
    margin-left: 30px;
}

.titulo_dois{
    font-size: 150px;
    color:#49111C;
    font-family: 'New Amsterdam', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu{
    margin: 0;
    padding: 0;
    margin-left: 415px;
    margin-right: 415px;
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    background-color:#5B9279;
       
}

a{
    text-decoration: none;
    color: #0A0908;
    font-weight: bolder;
}


.rodape{
    background-color:#a1beb1;
    padding: 2px;
    color:#0A0908;
    font-weight: bold;
    font-size: 16px;
}

.rodape_texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel-inner{
    width: 1200px;
    margin-top: 50px;  
    margin-bottom: 50px; 
}

.principal{
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}   

.imagem_sobre{
    width: 700px;
    margin: 0;
    padding: 30px;
}

.titulo_sobre{
    font-family:'New Amsterdam', sans-serif;
    font-size: 60px;
    color:#49111C;  
    font-weight: bolder;
    margin: 0;
    padding: 25px;
}

.rodape_sobre{
    display: flex;
    align-items: center;
    flex-direction: column ;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family:'New Amsterdam', sans-serif;
    background-color:#5B9279;
}

.contato{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.titulo_contato{
    font-family:'New Amsterdam', sans-serif;
    font-size: 60px;
    color:#49111C;  
    font-weight: bolder;
    margin: 0;
    padding: 25px;
}

.rodape_contato{
    display: flex;
    align-items: center;
    flex-direction: column ;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family:'New Amsterdam', sans-serif;
    background-color:#5B9279;
}

.portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.titulo_portfolio{
    font-family:'New Amsterdam', sans-serif;
    font-size: 60px;
    color:#49111C;  
    font-weight: bolder;
    margin: 0;
    padding: 25px;
}

.rodape_portfolio{
    display: flex;
    align-items: center;
    flex-direction: column ;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family:'New Amsterdam', sans-serif;
    background-color:#5B9279;
}